<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/output.css">
    <title>Document</title>
</head>
<body>
    <%- include('nav') %>
    <div class="nav flex bg-purple-600 h-14 items-center text-white">
        <div class="menue flex items-center w-full justify-between  mx-8">
        <div class="logo font-bold text-3xl cursor-pointer">Account Manager</div>
            <ul class="flex justify-end space-x-7 text-xl">
                <li class="cursor-pointer px-2 borr rounded-full hover:bg-purple-700"><a href="">Home</a></li>
                <li class="cursor-pointer px-2 borr rounded-full hover:bg-purple-700"><a href="">Sign-Up</a></li>
                <li class="cursor-pointer px-2 borr rounded-full hover:bg-purple-700"><a href="">Login</a></li>
                <li class="cursor-pointer px-2 borr rounded-full hover:bg-purple-700"><a href="">Delet</a></li>
                <li class="cursor-pointer px-2 borr rounded-full hover:bg-purple-700"><a href="">About us</a></li>
            </ul>
        </div>
    </div>
</body>
</html>